option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_HOST: "cartapistack-cartdatabasedb741a8d-mz5pmztw8bv4.cqlm0ei6m7fb.us-east-1.rds.amazonaws.com"
    DATABASE_PORT: "5432"
    DATABASE_USER: "postgres"
    DATABASE_PASSWORD: ""
    DATABASE_NAME: "cart_db"
    NODE_ENV: "production"
    DB_HOST: "cartapistack-cartdatabasedb741a8d-mz5pmztw8bv4.cqlm0ei6m7fb.us-east-1.rds.amazonaws.com"
    DB_PORT: "5432"
    DB_USERNAME: "postgres"
    DB_PASSWORD: ""
    DB_NAME: "cart_db"
    DB_SSL: "false"